*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    // touch-action: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // overflow: hidden;
    // border: 1px solid red;
    max-width: 100dvw;
    // min-height: 100vh;
    // margin-bottom: 5%;
    *{
        margin: 0;
        padding: 0;
    } 
}
header{
    background: #121212;
}
nav{
    height: 12vh;
    // background: black;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    margin-left: 5%;
    *{
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    a{
        transition: 0.3s ease-in-out;
        &:hover{
            opacity: 0.6;
        }
    }
    #menu-icon-span{
        font-size: 35px;
        display: flex;
        align-items: center;
        cursor: pointer;
        // border: 1px solid red;
    }
    .logo{
        font-size: 35px;
        // border: 1px solid blue;
        margin-left: 2%;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    cursor: pointer;
    // z-index: 10;
    .icon-tab-bar{
        display: flex;
        flex-direction: column;
        height: 100%;
        // align-items: center;
        flex: 1;
        justify-content: center;
        align-items: center;
        &:hover{
            background:#303030 ;
        }
    }
}
.addTaskOptions{
    position: fixed;
    cursor: pointer;
    // padding: 10px;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 0;
    margin-bottom: 11vh;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    &:hover{
        opacity: 0.6;
    }
    // span{

    // }
}

.div-input-tarefa{
    display: flex;
    height: 40px;
    // background: #fff;
    // border: 1px solid green;
    /* padding: 20px; */
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    *{
        height: 40px;
    }
    
}
.menu-tarefas{
    // border: 1px solid darkblue;
    margin-bottom: 9vh;
}
#input-tarefa{
    border: none;
    flex: 95%;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.05rem;
    padding-left: 2%;
}
#btn-addtarefa{
    border: none;
    background: white;
    flex: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid darkmagenta;
    span{
        // border: 1px solid red;
        height: fit-content;
    }
}
.opcoes-tarefa{
    margin-left: 5%;
    display: flex;
    /* height: fit-content; */
    // border: 1px solid purple;
    margin-bottom: 2%;
    button{
        // background: white;
        border: none;
        width: 140px;
        display: inline-block;
        cursor: pointer;
        margin-right: 3px;
        text-align: center;
        // height: 10%;
        // color: white;
        border-radius: 5px;
        font-size: 1.1rem;
        padding: 10px;
        &:hover{
            color: white;
            background: #151515;
            border: 2px solid white;
        }
    }
}
button.btn-selecionado{
    background: black;
    color: white;
    border: 2px solid white;
}
.container-tarefas{
    // border: 1px solid hotpink;
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    // height: 300px;
}
.tarefa{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: white;
    height: 40px;
    /* padding: 18px; */
    /* font-size: 2rem; */
    margin-bottom: 1%;
    border-radius: 10px;
    color: black;
    *{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .tarefa-icon{
        flex: 5%;
        justify-content: center;
        align-items: center;
        // border: 1px solid rebeccapurple;
    }
    .tarefa-texto{
        flex: 85%;
        padding-left: 1%;
        justify-content: flex-start;
        // border: 1px solid gold;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tarefa-opcoes{
        display: flex;
        flex: 10%;
        // border: 1px solid chartreuse;
        justify-content: center;
        align-items: center;
        .btn-editar{
            flex: 50%;
            // border: 1px solid black;
        }
        .btn-delete{
            flex: 50%;
            // border: 1px solid black;
        }
    }
}
.marcada{
    background: #ccc;
    .tarefa-texto{
        text-decoration: line-through;
    }
}
.semTarefas{
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}
