* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #151515;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body * {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background: black;
  height: 12vh;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
nav a:hover {
  opacity: 0.7;
}
nav .logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 35px;
  margin-left: 5%;
  letter-spacing: 4px;
  height: 100%;
}
nav #menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  cursor: pointer;
}
nav #menu-icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding: 10px;
  padding-left: 11px;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
nav #menu-icon span:hover {
  background: #202020;
  padding: 10px;
  padding-left: 12px;
  border-radius: 25px;
}
nav #menu-icon span.close {
  transform: rotate(180deg);
  opacity: 0.3;
}
nav .nav-list {
  list-style: none;
  display: flex;
  position: absolute;
  top: 12vh;
  right: 0;
  width: 300px;
  height: 88vh;
  background: black;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
nav .nav-list li {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  opacity: 0;
}
nav .nav-list li:hover {
  background: #202020;
}
nav .nav-list.active {
  transform: translateX(0);
}

.menu-tarefas {
  min-height: 88vh;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
h1 {
  padding: 0;
  margin-left: 5%;
}

.div-input-tarefa {
  display: flex;
  height: 40px;
  /* padding: 20px; */
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.div-input-tarefa * {
  height: 40px;
}

#input-tarefa {
  border: none;
  flex: 95%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.05rem;
  padding-left: 2%;
}

#btn-addtarefa {
  border: none;
  background: white;
  flex: 5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-addtarefa span {
  height: -moz-fit-content;
  height: fit-content;
}

.opcoes-tarefa {
  margin-left: 5%;
  display: flex;
  /* height: fit-content; */
  margin-bottom: 2%;
}
.opcoes-tarefa button {
  border: none;
  width: 140px;
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px;
}
.opcoes-tarefa button:hover {
  color: white;
  background: #151515;
  border: 2px solid white;
}

button.btn-selecionado {
  background: black;
  color: white;
  border: 2px solid white;
}

.container-tarefas {
  display: flex;
  flex-flow: column;
  margin-left: 5%;
  margin-right: 5%;
}

.tarefa {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: white;
  height: 40px;
  /* padding: 18px; */
  /* font-size: 2rem; */
  margin-bottom: 1%;
  border-radius: 10px;
  color: black;
}
.tarefa * {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tarefa .tarefa-icon {
  flex: 5%;
  justify-content: center;
  align-items: center;
}
.tarefa .tarefa-texto {
  flex: 85%;
  padding-left: 1%;
  justify-content: flex-start;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tarefa .tarefa-opcoes {
  display: flex;
  flex: 10%;
  justify-content: center;
  align-items: center;
}
.tarefa .tarefa-opcoes .btn-editar {
  flex: 50%;
}
.tarefa .tarefa-opcoes .btn-delete {
  flex: 50%;
}

.marcada {
  background: #ccc;
}
.marcada .tarefa-texto {
  text-decoration: line-through;
}

.semTarefas {
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */