

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
    background: #121212;
    // border: 1px solid red;
}
input::placeholder {
    color: black; /* Cor do placeholder */
}
h1{
    padding: 0;
    margin-left: 5%;
    // border: 1px solid white;
}
header{
    display: flex;
    height: 100px;
    background: black;
    color: white;
    // padding: 30px;
    /* border: 1px solid blue; */
    *{
        display: flex;
        align-items: center;
    }
}
.div-input-tarefa{
    display: flex;
    height: 40px;
    // border: 1px solid green;
    /* padding: 20px; */
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    *{
        height: 40px;
    }
    
}
#input-tarefa{
    border: none;
    flex: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.05rem;
    padding-left: 2%;
}
#btn-addtarefa{
    border: none;
    background: white;
    flex: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}
.opcoes-tarefa{
    margin-left: 5%;
    /* height: fit-content; */
    // border: 1px solid purple;
    margin-bottom: 2%;
    button{
        // background: white;
        border: none;
        width: 140px;
        display: inline-block;
        cursor: pointer;
        margin-right: 1%;
        text-align: center;
        height: 10%;
        // color: white;
        border-radius: 20px;
        font-size: 1.1rem;
        padding: 10px;
        &:hover{
            color: white;
            background: #080808;
            border: 1px solid white;
        }
    }
}
.btn-selecionado{
    background: black;
    color: white;
    border: 1px solid white;
}
.container-tarefas{
    // border: 1px solid hotpink;
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    // height: 300px;
}
.tarefa{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: white;
    height: 40px;
    /* padding: 18px; */
    /* font-size: 2rem; */
    margin-bottom: 1%;
    border-radius: 10px;
    *{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .tarefa-icon{
        flex: 5%;
        justify-content: center;
        align-items: center;
        // border: 1px solid rebeccapurple;
    }
    .tarefa-texto{
        flex: 85%;
        padding-left: 1%;
        justify-content: flex-start;
        // border: 1px solid gold;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tarefa-opcoes{
        display: flex;
        flex: 10%;
        // border: 1px solid chartreuse;
        justify-content: center;
        align-items: center;
        .btn-editar{
            flex: 50%;
            // border: 1px solid black;
        }
        .btn-delete{
            flex: 50%;
            // border: 1px solid black;
        }
    }
}
.marcada{
    background: #ccc;
    .tarefa-texto{
        text-decoration: line-through;
    }
}
.semTarefas{
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}
